<!DOCTYPE html>
<html lang="en" ng-app="memosApp">
<head>
    <base href="/">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'FoxPasswords/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'FoxPasswords/css/memos.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular.min.js" integrity="sha256-QRJz3b0/ZZC4ilKmBRRjY0MgnVhQ+RR1tpWLYaRRjSo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular-cookies.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ng-dialog/1.4.0/css/ngDialog.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ng-dialog/1.4.0/css/ngDialog-theme-default.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ng-dialog/1.4.0/js/ngDialog.min.js"></script>
    <script src="{% static 'FoxPasswords/js/memos.js' %}"></script>
    <meta charset="UTF-8">
    <title>Memos</title>
</head>
<body>
    <div id="whole-page">
        {% include "base.html" %}
        <div id="page-body">
            <div class="page-content container-fluid" ng-controller="MemosCtrl">
                <!-- body -->
                <h2 id="storeTitle">Store a Memo: </h2>
                        <form class="form-horizontal" name="myForm">{% csrf_token %}
                            <div class="form-group">
                                <label class="col-xs-2" for="formTitle">Title</label>
                                <div class="col-xs-6">
                                    <input type="text" name="title" id="formTitle" class="form-control" placeholder="Enter Title" ng-model="Memo.title" required>
                                    <span style="color:red" ng-show="myForm.title.$dirty && myForm.title.$invalid">
                                      <span ng-show="myForm.title.$error.required">Required</span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-2" for="formContent">Content</label>
                                <div class="col-xs-6">
                                    <textarea class="form-control" name="content" id="formContent" rows="4" placeholder="Enter Content" ng-model="Memo.content" required></textarea>
                                    <span style="color:red" ng-show="myForm.content.$dirty && myForm.content.$invalid">
                                      <span ng-show="myForm.content.$error.required">Required</span>
                                    </span>
                                </div>
                            </div>
                        </form>
                        <button class="btn btn-primary" ng-disabled="!myForm.$valid"  ng-click="submit($event)">Submit</button>
                        <h2>Stored Memos: </h2>
                        {% for item in stored %}
                            {% if not forloop.counter|divisibleby:2 %}
                        <div class="container row">
                            {% endif %}
                            <div class="col-md-6">
                                <div class="card cardDiv">
                                    <div class="card-body">
                                        <h5 class="card-title"><strong>{{ item.title }}</strong></h5>
                                        <p class="card-text">Date Modified: {{ item.date_modified }}</p>
                                        <p class="card-text">Date Created: {{ item.date_created }}</p>
                                        <button class="btn btn-info" ng-click="showContent($event)">See Content</button>
                                        <button class="btn btn-primary" ng-click="editContent($event)">Edit</button>
                                        <button class="btn btn-danger" ng-click="deleteContent($event)">Delete</button>
                                    </div>
                                </div>
                            </div>
                            {% if forloop.counter|divisibleby:2 %}
                        </div>
                            {% endif %}
                        {% endfor %}
            </div>
        </div>
    </div>

</body>
</html>
