<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'FoxPasswords/css/form.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
                <!-- body -->
                <div id="form-whole">
                    <h1>Registration</h1><br>
                    <form action="" method="post">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="form-group" id="fields">
                                <label for="{{ field.id_for_label }}">{{ field.html_name }}</label>
                                {{ field }}
                            </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-success">Sign Up</button>
                    </form>
                </div>

</body>
</html>